/* Added Styles */

html {
  font-family: "PT Sans", Georgia, "Times New Roman", serif;
}

img.center {
    display: block;
    margin: 0 auto;
}

img[src*='#center'] {
    display: block;
    margin: 0 auto;
}

div.output_block {
  margin: 0;
  max-height: 300px; 
  padding-left: 5%;
  display: inline-block;
  overflow: auto; 
  max-width: 100%;
}

pre.output {
  white-space: pre;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 3%;
  background-color: white;
  color: #888888;
}

code.codeblock {
  white-space: pre; 
}

.dataframe {
  font-size: 80%;
}

.highlight pre {
  border: 1px solid #BBBBBB;
}